<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Woki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div #map id="map"></div> -->
</ion-content>

<!-- <ion-content padding>
  <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button color="dark">Filter</ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="airplane"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="car"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="build"></ion-icon></ion-fab-button>
        <ion-alert-controller (click)="presentAlert()">
          <ion-icon name="calendar"></ion-icon>
        </ion-alert-controller>
      </ion-fab-list>
      </ion-fab>
</ion-content> -->


